<p id="notice"><%= notice %></p>

<p>
  <strong>Id producto:</strong>
  <%= @item.producto_id %>
</p>

<p>
  <strong>Id carrito:</strong>
  <%= @item.carrito_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
