<h1>Listing productos</h1>
<table>
  <% @productos.each do |producto| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(producto.url_imagen, class: 'list_image') %>
    </td>
    <td class="list_descripcion">
      <dl>
        <dt><%= producto.titulo %></dt>
        <dd><%= truncate(strip_tags(producto.descripcion),
          length: 80) %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', producto %><br/>
        <%= link_to 'Edit', edit_producto_path(producto) %><br/>
        <%= link_to 'Destroy', producto, method: :delete,
        data: { confirm: 'Estas seguro?' } %>
      </td>
    </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New product', new_producto_path %>
